/*General*/
body {
    font-family: "Lato", sans-serif;
}

header,
footer {
    height: var(--xl);
    background-color: var(--grey-bar);
}

main {
    margin: 0 auto;
    height: 800px;
    width: 1400px;
    position: relative;
}

ul {
    list-style-type: none;
}

img {
    height: 100%;
    border-radius: 100%;
}

p {
    margin: 0;
}

a,
#chat-avatar p {
    color: var(--lightgrey);
}

/*APP*/
#app {
    height: 100vh;
    background-image: linear-gradient(#009688 25%, #DADBD4 25%);
}

header a,
.input-group a,
footer a {
    text-decoration: none;
}

/*?Main*/
/*Sidebar*/
#sidebar {
    flex-basis: 30%;
}

.bell,
.input-group-text,
#contacts {
    background-color: var(--bg-white);
}

#my-avatar img,
.input-group {
    padding: var(--xxs);
}

/*notify*/
.notify {
    padding: 10px 0;
    padding-left: var(--m);
    background-color: var(--azul);
}

.notify .bell {
    height: var(--l);
    width: var(--l);
    color: var(--azul);
}

/*search*/
.input-group {
    background-color: var(--grey-bar);
}

/*Contact*/
#contacts li {
    background-color: var(--bg-white);
    padding-left: var(--s);
    display: flex;
    border-bottom: 1px solid var(--grey-contact);
}

#contacts li:hover {
    background-color: var(--grey-contact);
}

#contacts img {
    height: 90px;
    padding: 10px 0;
}

#info-contact {
    width: 100%;
    padding: .5rem;
}

#info-contact>div {
    display: flex;
    justify-content: space-between;
}

#info-contact span {
    font-weight: 600;
}

#info-contact p {
    font-size: var(--xs);
    color: var(--lightgrey);
}

/*main content*/
#main-content {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

/*chat*/
#chat {
    padding: 20px 150px;
    background-image: url(../img/mine.png);
}

#chat li {
    width: fit-content;
    max-width: 70%;
    padding: var(--xxs);
    position: relative;

}

#chat li:hover i {
    display: inline-block !important;
    position: absolute;
    color: var(--lightgrey);
    top: 20%;
    right: 5%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
}

.mex-time {
    font-size: var(--xxs);
    color: var(--lightgrey);
    text-align: end;
}

/*footer*/
footer div {
    padding: 20px 40px;
    font-size: var(--s);
}

/*Utils*/
.sent {
    border-radius: 15px 15px 0 15px;
    background-color: var(--green-sent);
    align-self: flex-end;
}

.received {
    border-radius: 15px 15px 15px 0;
    background-color: var(--bg-white);
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-d-column {
    display: flex;
    flex-direction: column;
}